{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row container-fluid">
     <input class="col-4 bg-light text-dark" type="text" id="filterInput" placeholder="Type to filter">
     <input class="col-4 bg-light text-dark" type="date" id="afterDate" placeholder="after_date">
     <input class="col-4 bg-light text-dark" type="date" id="beforeDate" placeholder="before_date">
     
   </div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Cost</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody id="list">
    {% for sell in sells %}
    <tr>
      <th scope="row">1</th>
      <td>{{ sell.product_name }} </td>
      <td>{{ sell.quantity }}</td>
      <td>{{ sell.cost }}</td>
      <td id="datetime">{{ sell.date_sold|date:"Y-m-d H:i:s" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

  <script>
    // Get the input field and list
    const filterInput = document.getElementById('filterInput');
    const list = document.getElementById('list');
    const items = list.getElementsByTagName('tr');
    //date fields
    const beforeDateObject = document.getElementById("beforeDate"); 
      const afterDateObject= document.getElementById("afterDate"); 
    //add event listener on loading package  
    document.addEventListener('DOMContentLoaded', function() {
      NumberTable();
    });
    // Add event listener for input changes
    filterInput.addEventListener('input', filterList)
 
    beforeDateObject.addEventListener('input', filterDate)
    afterDateObject.addEventListener('input', filterDate)
  
    function filterList() {
      const filterValue = filterInput.value.toLowerCase(); // Convert the input to lowercase for case-insensitive filtering
       
      // Loop through all the list items/
      
      if(items.length>0)
        {
          for (let i = 0; i < items.length; i++) {
            const item = items[i];
            const tags = item.getElementsByTagName('td')
            let found = false;
            for(let j=0; j<3; j++)
              {
                const tag = tags[j];
                const text = tag.textContent.toLowerCase(); // Get the text content of each item and convert it to lowercase
                // If the item matches the filter value, display it, otherwise hide it
                if (text.indexOf(filterValue) > -1) {
                  item.style.display = '';
                  found = true;
                  break;
                } 
              }
            if (found==true) {
                item.style.display = '';
              } else {
                item.style.display = 'none';
              }
          }
        }
      
    } 
          
    function NumberTable() {
      // Loop through all the list items/
      if(items.length>0)
        {
          let counts = 0;
          for (let i = 0; i < items.length; i++) {
            const item = items[i];
            const tags = item.getElementsByTagName('th')
            const tag = tags[0];
            if(item.style.display=="")
              { 
                counts++;
                tag.textContent = counts;
              }
            }
        }
          };
          
    function filterDate() {
      const beforeDateValue = beforeDateObject.value
      const afterDateValue = afterDateObject.value
       const beforeDateValuejs = new Date(beforeDateValue);
       const afterDateValuejs = new Date(afterDateValue);
      // Loop through all the list items/
      if(items.length>0)
        {
          for (let i = 0; i < items.length; i++) {
            const item = items[i];
            
            
            const tags = item.getElementsByTagName('td')
            let found = false;
            for(let j=0; j<tags.length; j++)
              {
                const tag = tags[j];
                const tag_id = tag.id;
                if(tag_id==="datetime")
                  {
                    const tag_date = tag.textContent;
                    const tag_dateJS = new Date(tag_date);
                    let before = true;
                    let after = true;
                    if(isNaN(beforeDateValuejs)==false)
                      {
                        before = tag_dateJS < beforeDateValuejs;
                      }
                    if(isNaN(afterDateValuejs)==false)
                      {
                        after = tag_dateJS > afterDateValuejs;
                      }
                    if(before && after)
                      {
                        item.style.display = '';
                      }else
                      {
                        item.style.display = 'none';
                      }
                  }
              }
          }
        }
    };
    
    function FilterObject() {
      filterList();
      filterDate();
      NumberTable();
          };
  </script>
{% endblock %}